################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auto Clean System/.vs/Auto Clean System/FileContentIndex/3cb2d739-83c4-476e-903e-e631015ada10.vsidx
/Auto Clean System/.vs/Auto Clean System/FileContentIndex/4207c5b7-386c-48b3-86ef-d688d7e3e0db.vsidx
*.vsidx
